<div class='text-center'>
<h1> All Users </h1>

<% @users.each do |u| %>
    <%= link_to u.name, user_path(u.id) %> <br>
<% end %>


<br>
<%= button_to "Home", home_path, :class => "btn btn-dark", :method => "get" %>
</div>