<div class='text-center'>


<% if current_user.gear_bags.nil? %>
    <p> You have no gear rentals to display. </p>
<% end %>

<% if !current_user.gear_bags.nil? %>

<h3> Current Gear Bags: </h3>
    
    <% current_user.gear_bags.find_all {|g| g.start_date >= Date.today}.each do |gb| %>
        <%= link_to "Gear Bag ##{gb.id} - Dates: #{gb.start_date} - #{gb.end_date}", gear_bag_path(gb.id) %> <br>
    <% end %>
    <br>

<h3> Completed Gear Bags: </h3>

    <% current_user.gear_bags.find_all {|g| g.start_date < Date.today}.each do |gb| %>
        <%= link_to "Gear Bag ##{gb.id} - Dates: #{gb.start_date} - #{gb.end_date}", gear_bag_path(gb.id) %> <br>
    <% end %>

<% end %>
<br>
<br>
<p> Gear Bags are created through reservations. Create a new reservation for renting gear! </p>
<p> Important: You cannot rent gear without reserving a lift pass. </p>
<%= button_to "New Reservation", new_reservation_path, :method => "get" %>
<br>
<%= button_to "Home", home_path, :method => "get" %>
</div>
