<div class='text-center'>

<% if current_user.reservations.nil? %>
    <p> You have no reservations to display. </p>
<% end %>

<% if !current_user.reservations.nil? %>

<h3> Current Reservations: </h3>


    <% current_user.reservations.find_all {|r| r.start_date >= Date.today}.each do |rr| %>
        <%= link_to "Reservation ##{rr.id} - Dates: #{rr.start_date} - #{rr.end_date}", reservation_path(rr.id) %> <br>
    <% end %>
<br>


<h3> Completed Reservations: </h3>

    <% current_user.reservations.find_all {|r| r.start_date < Date.today}.each do |rr| %>
        <%= link_to "Reservation ##{rr.id} Dates: #{rr.start_date} - #{rr.end_date}", reservation_path(rr.id) %> <br>
    <% end %>

<% end %>
<br>

<div class="bottom-button">
<br>
<%= button_to "New Reservation", new_reservation_path, :class => "btn btn-outline-dark", :method => "get" %>
<br>
<%= button_to "Home", home_path, :class => "btn btn-dark", :method => "get" %>
</div>
</div>
