<h1> Select your Lodging: </h1>

<%= form_for @reservation do |f| %>

    <%= f.label "Available Lodgings:" %>
    <%= f.collection_select :lodging_id, Lodging.av_lodging, :id, :lodging_name%> <br>
    <br>

    <%= submit_tag("Rent Lodging") %>
<% end %>
