<h1> Lodging Rentals: </h1>

<% if current_user.lodgings.nil? %>
    <p> You have no lodging rentals to display. </p>
<% end %>

<% if !current_user.lodgings.nil? %>

<h3> Current Lodging Rentals: </h3>

    <% current_user.reservations.find_all {|r| r.start_date >= Date.today}.each do |rr| %>
        <% if !rr.lodging_id.nil? %>
            <%= link_to "Lodging Rental ##{rr.id} - Dates: #{rr.start_date} - #{rr.end_date}", lodging_rental_path(rr.id) %> <br>
        <% end %>
    <% end %>

<h3> Completed Lodging Rentals: </h3>

    <% current_user.reservations.find_all {|r| r.start_date < Date.today}.each do |rr| %>
        <% if !rr.lodging_id.nil? %>
        <%= link_to "Lodging Rental ##{rr.id} - Dates: #{rr.start_date} - #{rr.end_date}", lodging_rental_path(rr.id) %> <br>
        <% end %>
    <% end %>

<% end %>
<br>
<br>

<%= button_to "New Reservation", new_reservation_path, :method => "get" %>
<br>
<%= button_to "Home", home_path, :method => "get" %>