<h1> Powder Mountain's Available Lodging: </h1>

<h3> Available Lodgings: </h3>
<p> Number of Campsites: <%= @camps.count %> </p>
<p> Number of Cabins: <%= @cabins.count %> </p>




<% if current_user.admin? %>
 <h3> Lodging Management: </h3>
    <% @lodgings.each do |l| %>
    <%= link_to "#{l.lodging_name} Rented? #{l.rented}", lodging_path(l.id) %>
    <br>
    <% end %>

<% end %>

<br>
<%= button_to "Home", home_path, :method => "get" %>